<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Restaurants", restaurants_path, :class => "nav-item nav-link active" %>
      <%= link_to "Add Restaurant", new_restaurant_path, :class => "nav-item nav-link" %>
    </div>
  </div>
</nav>

<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div class="card">
    <h3><%= restaurant.name %></h3>
    <p><%= restaurant.category %></p>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  </div>
<% end %>
